* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
    background: none;
}